<%= javascript_include_tag 'order', defer: "defer" %>

<div class="row h-100">
  <div class="col-7 bg-dark text-light p-0 pt-5">
    <div class="container pt-4">
      <% @categories_by_levels.each do |level, categories| %>
        <%= render 'category_row', categories: categories %>
      <% end %>

      <div class="row row-cols-4">
        <% @products.each do |product| %>
          <%= render "product_button", product: product%>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-5 p-0 sv-order-panel pt-5">

    <div class="p-4 d-flex flex-column justify-content-between h-100">

      <div class="line-items">
        <div class="row">
          <div class="col-6 sv-line-item-header">Item</div>
          <div class="col-2 sv-line-item-header">Qty</div>
          <div class="col-2 sv-line-item-header">Each</div>
          <div class="col-2 sv-line-item-header">Total</div>
        </div>

        <% 3.times do |index| %>
          <% unit_price = 12.25 + index %>
          <%= render "line_item", name: "Item #{index + 1}", notes: nil, quantity: 2 + index, unit_price: unit_price %>
        <% end %>
      </div>

      <div class="row sv-order-summary mt-2">
        <div class="col-6 d-flex justify-content-between py-4 sv-order-summary__items">
          <span class="text-muted">Items</span>
          <span class="fw-bold">3</span>
        </div>
        <div class="col-6 d-flex justify-content-between py-4">
          <span class="text-muted">TOTAL</span>
          <span class="fw-bold">R34.50</span>
        </div>

        <div class="col-12 d-flex justify-content-between mt-4">
          <button class="btn btn-danger">Cancel</button>
          <button class="btn btn-lg btn-success">PAY</button>
        </div>
      </div>

    </div>

  </div>
  
</div>
