<div class="container">
  <h1>Create an account</h1>

  <div class="alert alert-warning" role="alert">
    After creating your account, ask your manager to activate it.
  </div>
  
  <%= render 'form', user: @user %>
</div>