<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">
      <%= image_tag 'detti-logo-white', alt: 'Detti Logo' %>
    </a>
    <button class="btn btn-danger"><i class="bi bi-box-arrow-right"></i> Logout</button>
  </div>
</nav>