/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "./bootstrap_custom.scss";

@import "bootstrap";

.sv-order-panel {
  min-height: 92vh;
  background-color: $gray-100;
}

.sv-line-item {
  border-bottom: 2px solid $primary;
  padding-block: 1rem;
}

.sv-line-item-header {
  position: relative;
  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    width: 90%;

    border-bottom: 2px solid $primary;
  }
}

.sv-order-summary {
  border-top: 1px solid $gray-300;

  &__items {
    border-right: 1px solid $gray-300;
  }
}

.sv-alerts-container {
  z-index: $zindex-popover;
}
