<% products = products_by_category_id[category.id] %>
<% subcategories = categories_by_parent_id[category.id] %>

<div class="row">
  
  <div class="col-12"><h2><%= category.name %></h2></div>

  <% if products %>
    <% products.each do |product| %>
      <%= render 'product', product: product %>
    <% end %>
  <% end %>

  <% subcategories.each do |subcategory| %>
    <%= render 'category_row',
      category: subcategory,
      categories_by_parent_id: @categories_by_parent_id,
      products_by_category_id: @products_by_category_id
    %>
  <% end %>

</div>
