<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<%= link_to "New product", new_product_path, class: "btn btn-primary text-white mb-3" %>

<% root_categories = @categories_by_parent_id[nil] %>

<% root_categories.each do |category| %>
  <%= render 'category_row',
    category: category,
    categories_by_parent_id: @categories_by_parent_id,
    products_by_category_id: @products_by_category_id
  %>
<% end %>
